<app-info></app-info>

<div class="container">
    <div class="portfolio-main">
        <h2 class="text-center">Entrega de Canastas</h2>
        <div id="projects" class="projects-main row" style="margin-top: 3rem;">
            <!-- Card 1 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad.jpg" alt="Caridad 1" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad1.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad1.jpg" alt="Caridad 2" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad6.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad6.jpg" alt="Caridad 3" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad3.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad3.jpg" alt="Caridad 4" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad4.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad4.jpg" alt="Caridad 5" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-lg-4 col-sm-6 pro-item portfolio-item">
                <div class="card h-100">
                    <div class="card-img">
                        <a href="assets/img/caridad5.jpg" data-fancybox="images">
                            <img class="img-fluid" src="assets/img/caridad5.jpg" alt="Caridad 6" />
                            <div class="overlay"><i class="fas fa-arrows-alt"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
