<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="social-media">
                    <ul>
                        <li><a href="https://web.facebook.com/profile.php?id=100057399433683"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.tiktok.com/@ensueno_restaurant?is_from_webapp=1&sender_device=pc"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-details">
                    <ul>
                        <li><i class="fas fa-phone fa-rotate-90"></i> +51 976 238 681</li>
                        <li><i class="fas fa-map-marker-alt"></i> Buenos aires, Tembladera, Cajamarca</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">