<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="assets/img/una.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/img/dos.jpg" alt=""
                        style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Acerca de Nosotros</p>
                <h1 class="mb-4" >¿Por qué deberías confiar en nosotros? ¡Conócenos!</h1>
                <p>El Restaurante Ensueño te ofrece una experiencia culinaria única en Tembladera, Cajamarca. Con una
                    combinación de sabores marinos, deliciosos camarones y auténtica comida criolla, nuestro restaurante
                    es el lugar perfecto para disfrutar de una comida inolvidable en un ambiente acogedor.</p>
                <p class="mb-4">Desde su apertura, nos dedicamos a ofrecer calidad y satisfacción a nuestros clientes.
                    Con ingredientes frescos y un equipo comprometido, cada plato en el Restaurante Ensueño refleja
                    nuestra pasión por la cocina y el buen servicio.</p>
                <p><i class="far fa-check-circle text-warning me-3" ></i>Ingredientes frescos y de calidad</p>
                <p><i class="far fa-check-circle text-warning me-3"></i>Experiencia culinaria única en Tembladera</p>
                <p><i class="far fa-check-circle text-warning me-3"></i>Ambiente acogedor y familiar</p>
                <button class="btn rounded-pill py-3 px-5 mt-3 btn btn-warning text-light"  (click)="navigateTo()">Leer más</button>
            </div>
        </div>
    </div>
</div>
